<td width="200px" height="425px"><h2>Main Menu</h2>
    <hr>

    <details>
        <summary><a href="staff_dashboard.php">Dashboard</a></summary>
    </details>

    <details>
        <summary><a href="working_schedule.php">Schedule</a></summary>
    </details>

    <details>
        <summary><a href="staff_salary_statement.php">Salary Report</a></summary>
    </details>

    <details>
        <summary><b>Setting</b></summary>
        <details>
            <summary><a href="view_staff_profile.php">View Profile</a></summary>
        </details>
        <details>
            <summary><a href="edit_staff_profile.php">Edit Profile</a></summary>
        </details>
        <details>
            <summary><a href="change_staff_password.php">Change Password</a></summary>
        </details>
        <details>
            <summary><a href="../../controllers/logout_check.php">Logout</a></summary>
        </details>
    </details>
</td>